extends layout

block projectList

      .container-fluid#container-projects
          .row
            //- .col-lg-10.col-md-10.col-sm-10
            #projects
              p#blog-title Blog Posts
              .row#blog-list
                if posts != null
                  - each post in posts
                    div.project-div
                      div.title
                        a( href='http://localhost:3000/blog/#{post._id}' ) #{post.title}
                        p.content #{post.content}
                        p.description #{post.description}
                        p.created_at Posted at #{moment(post.created_at).format("MMMM Do YYYY")}


