extends layout

block projectList
  
      .container-fluid#container-projects
          .row
            //- .col-lg-10.col-md-10.col-sm-10
            #projects
              p#projects-title Projects
              .row#project-list
                if projects != null
                  - each project in projects
                    div.project-div
                      div.title
                        a( href='http://localhost:3000/projects/#{project._id}' ) #{project.title}
                        p.description #{project.description}
                        p.date_begun #{project.date_begun}
                        p.date_ended #{project.date_ended}
                        p.github 
                          a( href='https://#{project.github}' ) #{project.github}
                        p.comments #{project.comments}


